{% extends "budget/budgetpage.html" %}
{% load mathfilters %}
{% load budget_extras %}


{% block content %}
<table>
    <tr>
        <th>Priority</th>
        <th>End date</th>
        <th>Title</th>
        <th>Amount Per Month</th>
        <th>success Per Month (%)</th>
        <th class="hideBorder"></th>
    </tr>
    <tr>
        <form method="post">
            {% csrf_token %}
            {% for n in form %}
            <td>{{n}}</td>
            {% endfor %}
            <td></td>
            <td class="hideBorder"><input class="addButton" type="submit" value="+"></td>
        </form>
    </tr>
    {% if list_goals %}
    {% for n in list_goals %}
    <tr>
        <td>{{n.priority}}</td>
        <td>{{n.end_date}}</td>
        <td>{{n.title}}</td>
        <td>{{n.amount|floatformat}}$</td>
        <td>{{n.success_percentage}}%</td>
        {% endfor %}
    <tr></tr>
    </tr>
    <tr>
        <th>Total</th>
        <td></td>
        <td> {{sum_amount_goal.amount__sum}}$</td>
        <td></td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4"> No product are available.</td>
    </tr>
    {% endif %}

</table>
{% endblock %}